<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>LKnDV3ggJaYoS2jmNIg_2Q</string>
	<key>secret</key>
	<string>O5I_V43c2N3hG6NnhXxHQDp4okE</string>
	<key>token</key>
	<string>Bl66v6spO3aLFrBX551kwvNii00tqFnF</string>
	<key>tokenSecret</key>
	<string>m5_1A-Hjkjw9-xUPL1EGSmmCn24</string>
</dict>
</plist>
